.page-container {
  height: 100vh;
  background-image: url("../../assets/background1.png");
  background-size: cover;
  background-position: right;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and(min-width: 767px) {
  .page-container {
    background-position: center;
  }
}
