.navbar-web {
  display: flex;
  flex-direction: row;
  padding: 15px 25px;
  justify-content: space-between;
  z-index: 10;
  position: absolute;
  gap: 20px;
  width: 100%;
  border-bottom: 1px solid rgb(165, 81, 188);
  background-color: rgba(238, 229, 240, 0.419);
  font-size: 24px;
  font-family: var(--secondary-font);
}

.header-logo {
  width: 20%;
  height: 20%;
}

.navlist-web {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
}

.navlist-mobile {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.navbar-mobile {
  display: flex;
  flex-direction: row;
  padding: 15px;
  justify-content: space-around;
  z-index: 10;
  position: fixed;
  gap: 5px;
  width: 100%;
  border-bottom: 1px solid rgb(165, 81, 188);
  background-color: rgba(223, 215, 225, 0.419);
  font-family: var(--secondary-font);
  font-size: 18px;
}

.navBar-isActive {
  border-bottom: 1px solid black;
}
