.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 25px;
  align-items: center;
  font-family: var(--primary-font);
  border: none;
  background-color: #e96e93;
}

.footer__info {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-around;
}

.credits-img {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: var(--white);
}

.footer__credits {
  font-size: 0.5em;
  padding: 5px;
}

.footer__copyright {
  font-size: 12px;
  padding: 4px;
}

.logo-img {
  width: 20%;
  height: 35%;
}

.ag-logo {
  width: 40%;
  height: 50%;
}

@media screen and (min-width: 767px) {
  .footer-container {
    width: 100%;
  }
}
