.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  width: 97%;
  align-items: center;
  font-family: var(--primary-font);
  border: none;
  border-radius: 15px 15px 0 0;
  background-color: rgba(165, 81, 188, 0.927);
  margin-left: 1.5%;
}

.footer__info {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-around;
}

.credits-img {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: var(--white);
}

.footer__credits {
  font-size: 10px;
  padding: 5px;
}

.footer__copyright {
  font-size: 12px;
  padding: 4px;
}

@media screen and (min-width: 767px) {
  .footer-container {
    width: 90%;
    margin-left: 5%;
  }
}
